[[source]]
name = "pypi"
url = "https://pypi.python.org/simple"
verify_ssl = true

[[source]]
url = "https://${PYPI_KEY}:@pypi.fury.io/ybadiss/"
verify_ssl = true
name = "fury"

[dev-packages]
black = "*"
codecov = "*"
coverage = "*"
ipython = "*"
isort = "*"
mypy = "*"
pudb = "*"
pytest = "*"
pytest-cov = "*"
pytest-sugar = "*"

[packages]
Flask = "*"
Flask-Cors = "*"
uWSGI = "*"
python-ledgercommon = {version = "==1.1.0",index = "fury"}
sqlalchemy = "*"
psycopg2 = "*"

[scripts]
test = "py.test"
lint = "./lint.sh"
format = "./format.sh"
run = "./run.sh"
run_dev = "./run_dev.sh"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
